/* TopBar.css */

/* Styles globaux pour le composant TopBar */
.top-bar {
    background-color: gray;
    max-height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
  }
  
  /* Styles pour la colonne du Logo */
  .col-1 img {
    width: 100px;
  }
  
  /* Styles pour la colonne de Recherche */
  .search-container {
    display: flex;
    align-items: center; 
    padding: 5px;
  }
  
  .search-input {
    width: 100%;
    background-color: transparent;
  }
  
  /* Styles pour l'icône de recherche (loupe) */
  .search-icon {
    padding: 5px; /* Espace autour de l'icône */
    background-color: transparent; /* Fond transparent */
    color: #fff; /* Couleur de l'icône */
  }
  /* Styles pour le Menu */
  .col-6 .menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  /* Styles pour la Zone de Gestion du Compte de l'Utilisateur Connecté */
  .col-3 .user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .user-icon {
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    margin-left: 8px;
    margin-right: 10px;
  }
  